.ui-triki-button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #aaa;
    color: #fff;

    vertical-align: middle;
    margin: 4px;
    line-height: 70px;

    text-align: center;

    font-size: 16pt;
    font-style: bold;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }